{%- if ENV_SET_LOCAL -%}
setLocal('{{ ENV_LOCAL_ADDRESS }}', { reusePort=true })
{% endif -%}
{%- if ENV_WEBSERVER_ENABLE -%}
webserver('{{ ENV_WEBSERVER_ADDRESS }}')
setWebserverConfig({password='{{ ENV_WEBSERVER_PASSWORD }}', apiKey='{{ ENV_WEBSERVER_APIKEY }}'})
{% endif -%}
{%- if ENV_K8S -%}
newServer({address='{{ ENV_AUTOPRIMARY }}', name='autoprimary', pool='autoprimary', mustResolve=false})
newServer({address='{{ ENV_SECONDARY }}', name='secondary', pool='secondary', mustResolve=false})
addAction(OpcodeRule(DNSOpcode.Notify),PoolAction('secondary'))
addAction(OrRule({QTypeRule(DNSQType.SOA),QTypeRule(DNSQType.IXFR),QTypeRule(DNSQType.AXFR)}),PoolAction('autoprimary'))
{% endif -%}
{%- if ENV_OPTS -%}
{% if ENV_OPTS|is_list -%}
{% for opt in ENV_OPTS -%}
{{ opt }}
{% endfor -%}
{% else -%}
{{ ENV_OPTS }}
{% endif -%}
{% endif -%}