{%- if ENV_SET_LOCAL -%}
setLocal('{{ ENV_LOCAL_ADDRESS }}', { reusePort=true })
{% endif -%}
{%- if ENV_WEBSERVER_ENABLE -%}
webserver('{{ ENV_WEBSERVER_ADDRESS }}')
setWebserverConfig({password='{{ ENV_WEBSERVER_PASSWORD }}', apiKey='{{ ENV_WEBSERVER_APIKEY }}'})
{% endif -%}
{%- if ENV_OPTS -%}
{% if ENV_OPTS|is_list -%}
{% for opt in ENV_OPTS -%}
{{ opt }}
{% endfor -%}
{% else -%}
{{ ENV_OPTS }}
{% endif -%}
{% endif -%}