setACL('0.0.0.0/0')
setLocal('{{ ENV_BIND_ADDRESS }}')

{% if ENV_INTERNAL_RESOVERS is defined -%}
{% if ENV_INTERNAL_RESOVERS|is_list -%}
{% for server in ENV_INTERNAL_RESOVERS -%}
newServer({address="{{ server }}", pool='internal'})
{% endfor -%}
{% else -%}
newServer({address="{{ ENV_INTERNAL_RESOVERS }}", pool='internal'})
{% endif -%}
{% endif %}

{%- if ENV_PUBLIC_RESOVERS is defined -%}
{% if ENV_PUBLIC_RESOVERS|is_list -%}
{% for server in ENV_PUBLIC_RESOVERS -%}
newServer({address="{{ server }}"})
{% endfor -%}
{% else -%}
newServer({address="{{ ENV_PUBLIC_RESOVERS }}"})
{% endif -%}
{% endif %}

{%- if ENV_INTERNAL_SUBNETS -%}
{% if ENV_INTERNAL_SUBNETS|is_list -%}
{% for subnet in ENV_INTERNAL_SUBNETS -%}
addAction({"{{ subnet }}"}, PoolAction('internal'))
{% endfor -%}
{% else -%}
addAction({"{{ ENV_INTERNAL_SUBNETS }}"}, PoolAction('internal'))
{% endif -%}
{% endif %}

{%- if ENV_CUSTOM_OPTS -%}
{% if ENV_CUSTOM_OPTS|is_list -%}
{% for opt in ENV_CUSTOM_OPTS -%}
{{ opt }}
{% endfor -%}
{% else -%}
{{ ENV_CUSTOM_OPTS }}
{% endif -%}
{% endif -%}
